@using Microsoft.AspNetCore.Components

<div class="card mb-3 mx-auto" style="max-width: 600px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="@Url" class="text-decoration-none">
                        <strong>@Title</strong>
                    </a>
                </h5>
                <p class="card-text">@Description</p>
                <a href="@Url" class="text-muted">@Source</a>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <img src="@ImageUrl" class="img-fluid rounded-end" alt="Blog Image">
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Description { get; set; } = string.Empty;
    [Parameter] public string Url { get; set; } = string.Empty;
    [Parameter] public string ImageUrl { get; set; } = string.Empty;
    [Parameter] public string Source { get; set; } = "medium.com";
}
