@using System.ComponentModel.DataAnnotations

@code {
    [Required] [Parameter] public string Title { get; set; }
    [Required] [Parameter] public string Image { get; set; }
    [Parameter] public string Description { get; set; }
}

<style>
    .article-header {
        margin: 0 auto; /* Centers the div */
        text-align: center;
        padding: 20px 0;
    }
    .article-image {
        max-width: 500px;
        height: auto;
        border-radius: 10px;
    }
</style>

<header class="article-header">
    <h1 class="fw-bold">@Title</h1>
    <img src="@Image" alt="Article Banner" class="article-image img-fluid mt-3">
</header>

@* <div class="row"> *@
@*     <div class="col-md-12"> *@
@*         <h1>@Title</h1> *@
@*     </div> *@
@* </div> *@
@* <div class="row"> *@
@*     <div class="col-md-12"> *@
@*         <img height="500px" width="500px"  src="@Image" alt="PactNet introduction in dotnet"/> *@
@*     </div> *@
@* </div> *@
@* @if (!string.IsNullOrEmpty(Description)) *@
@* { *@
@*     <div class="row"> *@
@*         <div class="col-md-12"> *@
@*             <p>@Description</p> *@
@*         </div> *@
@*     </div> *@
@* } *@
