@using System.ComponentModel.DataAnnotations

@code {
    [Required] [Parameter] public string Heading { get; set; }
    [Parameter] public int Level { get; set; } = 3;
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;
    public string ID { get; set; } = Guid.NewGuid().ToString();
}

<section id="@ID">
    @{
        switch (Level)
        {
            case 1:
                <h1>@Heading</h1>
                break;
            case 2:
                <h2>@Heading</h2>
                break;
            case 3:
                <h3>@Heading</h3>
                break;
            case 4:
                <h4>@Heading</h4>
                break;
            case 5:
                <h5>@Heading</h5>
                break;
            case 6:
                <h6>@Heading</h6>
                break;
            default:
                <h3>@Heading</h3>
                break;
        }
    }
    <hr class="border border-success border-1 opacity-50">
    <div>@ChildContent</div>
</section>