@using System.Collections.Generic

@code {
    [Parameter] public string ImageUrl { get; set; } = string.Empty;
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Author { get; set; } = string.Empty;
    [Parameter] public string Date { get; set; } = string.Empty;
    [Parameter] public List<string> Category { get; set; } = [];
    [Parameter] public string BlogUrl { get; set; } = "#";
}
<style>
    .custom-size {
        max-width: 400px;
    }
</style>

<div class="card shadow-sm custom-size">
    <a href="@BlogUrl">
        <img src="@ImageUrl" class=" img img-fluid img-thumbnail" alt="@Title">
    </a>
    <div class="card-body">
        @foreach (var c in Category)
        {
            <span class="badge bg-primary mx-1">@c</span>
        }
        <h5 class="card-title mt-2">
            <a href="@BlogUrl" class="text-decoration-none text-dark">@Title</a>
        </h5>
        <p class="card-text text-muted small">By @Author · @Date</p>
    </div>
</div>