@page "/"
@using TestArena.Blog.Common
@using TestArena.Blog.Common.NavigationUtils

<h2 class="mb-4">Latest Blogs</h2>
<div class="row row-cols-1 row-cols-md-3 g-4 p-2">

    @{
        foreach (var articlePage in SiteMap.Pages)
        {
            <div class="col">
                <Thumbnail ImageUrl="@articlePage.ArticleImage" Title="@articlePage.Header" Author="Ajay kumar"
                    Date="@articlePage.PublishedOn.ToLongDateString()" Category="@articlePage.Tags"
                    BlogUrl="@articlePage.RelativePath" />
            </div>
        }
    }
</div>